{% extends "global_layout.jinja2" %}

{% block title %}{{ locus.display_name }} Homology{% endblock %}

{% block head %}
<script>
    var locus = {{ locus_js|safe }};

    var display_name = "{{ locus.display_name }}";
    var format_name = "{{ locus.format_name }}";
    var locus_id = "{{ locus.id }}";

</script>
{% endblock %}

{% block body %}

<!-- Tabs
================================================== -->
<!-- Includes tabs.html into template -->
{% include "tabs.jinja2" %}
<script>document.getElementById("homology_tab").className += " active";</script>

<!-- Navbar
================================================== -->
<div class="row">
     <!-- Includes navbar.html into template -->
     {% include "navbar.jinja2" %}

     <div class="small-12 medium-10 columns content-column">

        <script>
            add_navbar_title(<span class="gene_name">{% if not locus.display_standard_name %}{{ locus.display_name }}{% else %}{{ locus.display_name }} / {{ locus.format_name }} Overview{% endif %}</span>')

	    add_navbar_element('Overview', 'overview');
            
            add_navbar_element('Resources', 'resource');

        </script>


	<!-- Overview
	================================================== -->
	<section id='overview'>	    	
           <h1>{% if not locus.display_standard_name %}{{ locus.display_name }}{% else %}{{ locus.display_name }} / {{ locus.format_name }} Homology{% endif %}</h1>
           <hr />
	
	   <div class="">
	     <dl class="key-value">
	        {% if 'reserved_name' in locus %}
		    <dt>Reserved Name</dt>
                    <dd>{{ locus.reserved_name.display_name }}
		        {% set references = [locus.reserved_name.reference] %}
			{% include "biblio_references.jinja2" %}
			<i>This name is reserved with SGD according to the
			<a target="_blank" href="https://sites.google.com/view/yeastgenome-help/community-help/gene-registry">Gene Naming Guidelines</a>
			agreed upon by the yeast community.</i></dd>
		{% endif %}
		{% if locus.display_standard_name %}
		    <dt>Standard Name</dt>
		    <dd>{{ locus.display_name }}
		        {% if 'gene_name' in locus.qualities %}
			   {% set references = locus.qualities.gene_name.references %}
			   {% include "biblio_references.jinja2" %}
			{% endif %}</dd>
                {% endif %}
		


      	     </dl>
	   </div>
        </section>





    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{asset_root}}/js/build/nouislider.min.js"></script>
<script src="{{asset_root}}/js/build/cytoscape.min.js"></script>
{# don't host arbor.js on CDN because it makes webworker files that don't work on the cloud :( #}
<script src="/static/js/build/arbor.js"></script>
<script src="{{asset_root}}/js/local.js"></script>
<script src="{{asset_root}}/js/cytoscape.js"></script>
<script src="{{asset_root}}/js/evidence.js"></script>
<script src="{{asset_root}}/js/protein_details.js"></script>
{% endblock scripts %}
